*.code-workspace

# Terraform local cache
.terraform/
terraform.tfstate.backup
*.tfplan

# Variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Python
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# env file
.env

# ruff
.ruff_cache
